* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
section {
    flex-grow: 1;
}

body {
    height: 100%;
}

.green {
    background-color: #00785a;
}

.image-shrink {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}

.fr {
    float: right;
}